/* Add this CSS to your stylesheet */
.nav-link:hover {
  background-color: #e0e0e0; /* Change the background color on hover */
  color: #333; /* Change the text color on hover */
}
.nav-link:active {
  background-color: #c0c0c0; /* Change the background color on click */
  color: #555; /* Change the text color on click */
}

.nav-link.text-dark.active {
  background-color: #e0e0e0;
  color: #333;
}
